---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-997">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Your Shield Against Water Damage in Toronto</span>
            <h1 class="cs-title"><span class="cs-color">#1</span> Waterproofing Company in Toronto</h1>
            <p class="cs-text">
                At Esk Waterproofing, we're more than waterproofing experts; we're your partners in ensuring a dry and secure home. With a commitment to excellence and a proven track record, we stand as Toronto's top choice for comprehensive waterproofing solutions.
            </p>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Explore More</a>
                <a href="" class="cs-button-transparent">Learn More</a>
            </div>
        </div>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="assets/images/Hero2.jpeg">
        <source media="(min-width: 601px)" srcset="assets/images/Hero2.jpeg">
        <img loading="lazy" decoding="async" src="assets/images/Hero2.jpeg" alt="restaurant" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
    

    {% include 'components/cta.html' %}
{% endblock %}